<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.whaley.datawarehouse.illidan.common.mapper.table.TableInfoMapper">

    <resultMap id="returnTableInfo" type="cn.whaley.datawarehouse.illidan.common.domain.table.TableInfo">
        <id column="id" javaType="Long" jdbcType="BIGINT" property="id"/>
        <result column="tableCode" javaType="String" jdbcType="VARCHAR" property="tableCode"/>
        <result column="tableDes" javaType="String" jdbcType="VARCHAR" property="tableDes"/>
        <result column="createTime" javaType="Date" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateTime" javaType="Date" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="dataType" javaType="String" jdbcType="VARCHAR" property="dataType"/>
        <result column="dbId" javaType="Long" jdbcType="BIGINT" property="dbId"/>
        <result column="status" javaType="String" jdbcType="VARCHAR" property="status"/>
        <result column="mysqlTableId" javaType="Long" jdbcType="BIGINT" property="mysqlTableId"/>
    </resultMap>


    <sql id="updateSql">
        update table_info tableInfo
        <set>
            <if test="tableInfo.tableCode != null">
                tableCode = #{tableInfo.tableCode},
            </if>
            <if test="tableInfo.tableDes != null">
                tableDes = #{tableInfo.tableDes},
            </if>
            <if test="tableInfo.dataType != null">
                dataType = #{tableInfo.dataType},
            </if>
            <if test="tableInfo.dbId != null">
                dbId = #{tableInfo.dbId},
            </if>
            <if test="tableInfo.mysqlTableId != null">
                mysqlTableId = #{tableInfo.mysqlTableId},
            </if>
            <if test="tableInfo.createTime != null">
                createTime = #{tableInfo.createTime},
            </if>

        </set>
    </sql>

    <sql id="joinTables">
    </sql>

    <sql id="colList">
        <trim prefix="" prefixOverrides=",">
            , tableInfo.tableCode AS tableCode
            , tableInfo.tableDes AS tableDes
            , tableInfo.dataType AS dataType
            , tableInfo.dbId AS dbId
            , tableInfo.createTime AS createTime
            , tableInfo.updateTime AS updateTime
            , tableInfo.id AS id
            , tableInfo.status AS status
            , tableInfo.mysqlTableId AS mysqlTableId

        </trim>
    </sql>

    <sql id="likeWhereCase">
        <where>
            tableInfo.status = '1'
            <if test="tableInfo != null and tableInfo.id != null">and tableInfo.id = #{tableInfo.id}</if>
            <if test="tableInfo != null and tableInfo.tableCode != null">and tableInfo.tableCode LIKE concat('%',#{tableInfo.tableCode},'%')</if>
            <if test="tableInfo != null and tableInfo.tableDes != null">and tableInfo.tableDes LIKE concat('%',#{tableInfo.tableDes},'%')</if>
        </where>
    </sql>


    <select id="get"  resultMap="returnTableInfo">
        select * from table_info tableInfo where  tableInfo.id = #{id}
    </select>

    <insert id="insert" parameterType="TableInfo" useGeneratedKeys="true" keyProperty="tableInfo.id" >

        insert into table_info
        (
        <trim prefix="" prefixOverrides=",">
            ,tableCode,tableDes,createTime,updateTime,dataType,dbId,status,mysqlTableId
        </trim>
        )values(
        <trim prefix="" prefixOverrides=",">
            ,#{tableInfo.tableCode},#{tableInfo.tableDes},now(),now(),#{tableInfo.dataType},#{tableInfo.dbId},#{tableInfo.status},#{tableInfo.mysqlTableId}
        </trim>
        )

    </insert>

    <update id="updateById">
        <include refid="updateSql"/>
        where id = #{tableInfo.id}
    </update>

    <select id="findByTableInfo" resultMap="returnTableInfo">
        select <include refid="colList" /> from table_info tableInfo
        <include refid="joinTables"/>
        <include refid="likeWhereCase"/>
        order by tableInfo.updateTime desc
        <if test="tableInfo != null and tableInfo.limitStart != null and tableInfo.limitEnd != null">limit #{tableInfo.limitStart}, #{tableInfo.limitEnd}</if>
    </select>

    <select id="isExistTableInfo"  resultType="long">
        select count(1) from table_info tableInfo
        where tableCode = #{tableCode} and dbId = #{dbId}
    </select>

    <!--<delete id="removeByIds">-->
        <!--delete from table_info where id in-->
        <!--<foreach item="item" collection="ids" open="(" separator="," close=")" >-->
            <!--#{item}-->
        <!--</foreach>-->

    <!--</delete>-->

    <update id="removeById">
        update table_info tableInfo set status = '0' WHERE tableInfo.id = #{id}
    </update>

    <select id="getByCodeLike"  resultMap="returnTableInfo">
        select <include refid="colList" /> from table_info tableInfo where  tableInfo.tableCode like concat('%',#{tableCode},'%') limit 10
    </select>

    <select id="countByTableInfo"  resultType="long">
        select count(1) from table_info tableInfo
        <include refid="joinTables"/>
        <include refid="likeWhereCase"/>
    </select>
</mapper>