body,html{ height: 100%;}
.wapLogin { width: 100%; height: 100%; overflow: hidden; zoom:1;}
.poplogin { background: #313541 url(http://r.360img.cn/pop/images/common/banner.png) no-repeat center center; text-align: center; height: 100%; min-width: 990px; margin: 0 auto; }
.poplogin .logInner { width: 990px; margin: 0 auto; position: fixed; left: 50%; top: 50%; margin: -165px 0 0 -495px;}
.poplogin .logInner .loginBox { width: 490px; margin-left: 365px; }
.poplogin .logInner .loginBox .loginBoxInner{background-color: #fff; margin-bottom: 20px; padding-bottom: 20px;}
.poplogin .logTip { background-color: #23ac38; padding: 12px 0 13px; margin-bottom: 20px; }
.poplogin .logInner dl { padding: 10px 45px; font-size: 16px; color: #555; overflow: hidden; zoom: 1; text-align: left; }
.poplogin .logInner dl dt { float: left; width: 120px; text-align: right; line-height: 38px; }
.poplogin .logInner dl dd { padding: 0 0 0 85px; }
.poplogin .logInner dl input { width: 250px; height: 38px; line-height: 38px; border: 1px solid #e4e4e4; padding: 0 10px; }
.w135 { width: 100px !important; }
.greenBtn_w275 { width: 275px; line-height: 42px; text-align: center; font-size: 16px; color: #fff; background-color: #23ac38; cursor: pointer; display: inline-block; border-radius: 3px; }
.greenBtn_w275:hover { color: #fff; }
.poplogin .copy{ font-size: 12px; color: #999; text-align: center; margin-top: 10px;}
a.verifylink{ font-size: 12px; color: #23ac38;}